
@{
    ViewBag.Title = "Index";
    
}
@using  WebMAP.Models;
<table border="1">
    @foreach (var x in ViewBag.result)
    {
        <tr>
            <td>@x.idProject</td>
            <td>@x.name</td>
            <td>@x.description</td>
        </tr>
    }
</table>
<h2>Index</h2>
<table border="1">
    @foreach (KeyValuePair<string,Resource> x in ViewBag.Resources)
    {
        <tr>
            <td>@x.Value.idUser</td>
            <td>@x.Value.email</td>
            <td>@x.Value.password</td>
        </tr>
            
        }
</table>

