@model IEnumerable<Domain.Entity.termarchive>

@{
    ViewBag.Title = "Archived terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




   
    
    <table class="table table-striped- table-bordered table-hover dataTable no-footer dtr-inline" id="archive">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.term.resource.firstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.term.resource.lastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.term.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.term.numberofDaysTerm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.term.project.name)

                </th>

            </tr>
</thead>
<tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.term.resource.firstName)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.term.resource.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.term.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.term.numberofDaysTerm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.term.project.name)
                    </td>

                </tr>
            }
            </tbody>
</table>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#archive').DataTable();
        });
    </script>
}
